<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/public/assets/style.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is CMS</h1>
    <ul>
      <% users.map(user => { %>
      <a href=<%="/user/" + user.id %>
        ><li>
          <img src= <%= user.image %> alt="">
          <span> <%= user.user %></span>
        </li>
      </a>
      <% })%>
    </ul>
  </body>
</html>
