<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Welcome <%= user.user%> </h1>
        <img src= <%= user.image%> alt="">
        <p>Email: <%= user.email%></p>
        <p>hp: <%= user.hp%></p>
</body>
</html>